.modal {
  width: 40%;
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
  border: 1px solid darkgrey;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 5px grey;
}